.bordeRojo{
  border: 1px solid red;
}

:root{
  --color-texto-principal: #E8E8E8; /*blanco*/
  --color-texto-secundario: #e8e8e869; /*blanco con menos opacidad*/
  --celeste: #1ABCFE;
  --azul: #3895FF;
  --violeta: #A259FF;
  --rosa: #FF84D4;
  --verde: #0ACF83;
  --rojo: #DC3A55;
  --verde1: #41b883;
  --verde2: #80CFAC;
  --verde3: #DAFFEF;
  --negro: #181818;
  --blanco: #E8E8E8;
  --blanco-suave: #d9d9d93a;
  --code-box: #212121;
  --font-princ: "creatoDisplay", 'openSans';
  --font-bold: "creatoBold", 'openSans';
  --font-thin: "creatoThin", 'openSans';
  --font-light: "creatoLight", "openSans";
  --borde-rosa: 0.5px solid var(--rosa);
  --borde-azul: 0.5px solid var(--azul);
  --forms1: #2D2D2D;
  --modal: #262626;
}

/*texto*/
@font-face {
  font-family: 'creatoDisplay'; 
  src: url('/src/assets/font/creato_display/CreatoDisplay-Regular.otf'); 
}
@font-face {
  font-family: 'creatoThin';
  src: url('/src/assets/font/creato_display/CreatoDisplay-Thin.otf'); 
}
@font-face {
  font-family: 'creatoLight';
  src: url('/src/assets/font/creato_display/CreatoDisplay-Light.otf'); 
}
@font-face {
  font-family: 'creatoBold';
  src: url('/src/assets/font/creato_display/CreatoDisplay-Bold.otf'); 
}

h1,h2,h3,h4,p,button,span,input,label,a,li{
  font-family: "creatoDisplay", 'openSans';
}
.mayus{
  text-transform: uppercase;
}
.subtitulo{
  font-family: var(--font-thin);
  font-size: 1.6em;
}

body{
  color: var(--color-texto-principal);
}

/*icons*/
.i-mob{
  width: 32px;
  height: 32px;
}
.button1{
    padding: 2px 18px;
    border-radius: 16px;
}

/*details*/
body::selection {
  background-color: #eff2f4; 
  color: #181818; 
}

.efectoSection{
  background: var(--negro);
  border-radius: 16px;

  box-shadow:
    0 30px 80px rgba(0, 0, 0, 0.7),
    0 10px 30px rgba(0, 0, 0, 0.5),
    inset 0 1px 0 rgba(255,255,255,0.03);
  
  padding: 32px;
}


/*efecto desktop sections*/
@media (min-width: 920px){

.sectionDesktop{
  background: var(--negro);
  border-radius: 16px;

  box-shadow:
    0 30px 80px rgba(0, 0, 0, 0.7),
    0 10px 30px rgba(0, 0, 0, 0.5),
    inset 0 1px 0 rgba(255,255,255,0.03);
  
  padding: 32px;
}

}






