.bordeRojo{
  border: 1px solid red;
}

:root{
  --color-texto-principal: #E8E8E8; /*blanco*/
  --color-texto-secundario: #e8e8e869; /*blanco con menos opacidad*/
  --celeste: #1ABCFE;
}

/*texto*/
@font-face {
  font-family: 'creatoDisplay'; 
  src: url('/src/assets/font/creato_display/CreatoDisplay-Regular.otf'); 
}
@font-face {
  font-family: 'creatoThin';
  src: url('/src/assets/font/creato_display/CreatoDisplay-Thin.otf'); 
}
@font-face {
  font-family: 'creatoBold';
  src: url('/src/assets/font/creato_display/CreatoDisplay-Bold.otf'); 
}
h1,h2,h3,h4,p,button,span,input,a,li{
  font-family: "creatoDisplay", 'openSans';
}
.thin{
  font-family: "creatoThin", 'openSans';
}
.bold{
  font-family: "creatoBold", 'openSans';
}
.mayus{
  text-transform: uppercase;
}
.blanco{
  color: #E8E8E8;
}
.fondoNegro{
  background-color: #181818;
}
.escondido{
  color: #e8e8e869;
}
.celeste{
  color: #1ABCFE;
}

/*icons*/
.i-mob{
  width: 32px;
  height: 32px;
}
